Repository collectd/collectd, changes with the owners that CODEOWNERS names for each.
All owners: @collectd/trusted-contributors, @collectd/intel, @collectd/core-maintainers

CODEOWNERS:

# Code ownership information.
# See
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for details.

# Order is important; the *last* matching pattern takes precedence.

# Default
#
# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, @collectd/trusted-contributors will be
# requested for review when someone opens a pull request.
*       @collectd/trusted-contributors

# Per-plugin owners
#
# These plugins are owned by subject matter experts and require their review.
/src/intel_pmu.c	@collectd/intel
/src/intel_rdt.c	@collectd/intel
/src/ipmi.c		@collectd/intel
/src/mcelog.c		@collectd/intel
/src/virt.c		@collectd/intel
# TODO(#2926): Add the following owners:
#/src/redfish.c		@collectd/intel

# Core
#
# The daemon and some plugins with a huge "blast radius" are considered "core"
# to the collectd project and require review form a "core owner".
/CODEOWNERS		@collectd/core-maintainers
/src/daemon/		@collectd/core-maintainers
/src/liboconfig/	@collectd/core-maintainers
/src/cpu.c		@collectd/core-maintainers
/src/df.c		@collectd/core-maintainers
/src/disk.c		@collectd/core-maintainers
/src/exec.c		@collectd/core-maintainers
/src/interface.c	@collectd/core-maintainers
/src/memory.c		@collectd/core-maintainers
/src/network.*		@collectd/core-maintainers
/src/utils/avltree/	@collectd/core-maintainers
/src/utils/common/	@collectd/core-maintainers
/src/utils_fbhash.*	@collectd/core-maintainers
/src/utils/heap/	@collectd/core-maintainers
/src/utils/ignorelist/	@collectd/core-maintainers
/src/utils/metadata/	@collectd/core-maintainers
/src/utils/mount/	@collectd/core-maintainers

[collectd 6] new plugin odbc
  Makefile.am
  configure.ac
  src/collectd.conf.pod
  src/daemon/configfile.c
  src/daemon/configfile.h
  src/daemon/metric.c
  src/daemon/metric.h
  src/odbc.c
  src/utils/db_query/db_query.c
  src/utils/db_query/db_query.h
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

collection3: Fix inappropriate usage of CGI:param
  contrib/collection3/lib/Collectd/Graph/Common.pm
Owners: @collectd/trusted-contributors

Remove Host option and add Label option
  src/collectd.conf.pod
  src/daemon/configfile.c
  src/daemon/configfile.h
  src/daemon/metric.c
  src/daemon/metric.h
  src/nginx.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

Remove Host option and add Label option.
  src/apache.c
  src/collectd.conf.pod
  src/daemon/configfile.c
  src/daemon/configfile.h
  src/daemon/metric.c
  src/daemon/metric.h
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

[collectd 6] new plugin pressure
  Makefile.am
  configure.ac
  src/collectd.conf.pod
  src/pressure.c
Owners: @collectd/trusted-contributors

Filter selected zones
  src/buddyinfo.c
Owners: @collectd/trusted-contributors

[collectd 6] table: migration to v6.0
  src/collectd.conf.pod
  src/daemon/configfile.c
  src/daemon/configfile.h
  src/daemon/metric.c
  src/daemon/metric.h
  src/table.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

Fix format
  src/collectd.conf.pod
  src/table.c
Owners: @collectd/trusted-contributors

Fix syntax errors and casting.
  src/disk.c
Owners: @collectd/core-maintainers

[collectd 6] tail_csv: migration to v6.0
  src/collectd.conf.pod
  src/daemon/configfile.c
  src/daemon/configfile.h
  src/daemon/metric.c
  src/daemon/metric.h
  src/tail_csv.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

[collectd 6] sigrok: migration to v6.0
  configure.ac
  src/collectd.conf.pod
  src/daemon/configfile.c
  src/daemon/configfile.h
  src/daemon/metric.c
  src/daemon/metric.h
  src/sigrok.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

[collectd 6] irq: migration to v6.0
  src/irq.c
Owners: @collectd/trusted-contributors

Adds openvpn connected_since metric
  src/openvpn.c
  src/types.db
Owners: @collectd/trusted-contributors

Formats openvpn.c
  src/openvpn.c
Owners: @collectd/trusted-contributors

Add channel options, to select the device channel. Change device flags labels.
  src/collectd.conf.pod
  src/sigrok.c
Owners: @collectd/trusted-contributors

Initialize metric_family to zero
  src/protocols.c
Owners: @collectd/trusted-contributors

Add an Interval option to several plugins
  src/apache.c
  src/collectd-java.pod
  src/collectd-lua.pod
  src/collectd.conf.in
  src/collectd.conf.pod
  src/dpdk_telemetry.c
  src/dpdkevents.c
  src/dpdkstat.c
  src/intel_pmu.c
  src/intel_rdt.c
  src/ipmi.c
  src/java.c
  src/logparser.c
  src/lua.c
  src/mcelog.c
  src/memcached.c
  src/mysql.c
  src/nut.c
  src/openldap.c
  src/openvpn.c
  src/ovs_events.c
  src/ovs_stats.c
  src/pcie_errors.c
  src/redfish.c
  src/redis.c
  src/routeros.c
  src/varnish.c
  src/virt.c
Owners: @collectd/trusted-contributors, @collectd/intel

Allow NFS metrics to be limited to given procedures set.
  src/collectd.conf.in
  src/collectd.conf.pod
  src/nfs.c
Owners: @collectd/trusted-contributors

Fix stupid typo
  src/nut.c
Owners: @collectd/trusted-contributors

[collectd 6] ethstat: migration to v6.0
  src/collectd.conf.pod
  src/ethstat.c
Owners: @collectd/trusted-contributors

Change metric_family declaration
  src/protocols.c
Owners: @collectd/trusted-contributors

Generalize connected_since() function
  src/openvpn.c
Owners: @collectd/trusted-contributors

Formats openvpn.c
  src/openvpn.c
Owners: @collectd/trusted-contributors

[collectd 6] fscache: migration to v6.0
  src/fscache.c
  src/fscache.gperf
  src/fscache.h
Owners: @collectd/trusted-contributors

Fix format
  src/fscache.h
Owners: @collectd/trusted-contributors

Add fscache.h to Makefile.am
  Makefile.am
Owners: @collectd/trusted-contributors

Fix typos in Interval option description
  src/apache.c
  src/collectd.conf.pod
  src/mysql.c
Owners: @collectd/trusted-contributors

[collectd 6] modbus: migration to v6.0
  src/collectd.conf.in
  src/collectd.conf.pod
  src/daemon/configfile.c
  src/daemon/configfile.h
  src/daemon/metric.c
  src/daemon/metric.h
  src/modbus.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

Fix format
  src/modbus.c
Owners: @collectd/trusted-contributors

[collectd 6] thermal: migration to v6.0
  src/thermal.c
Owners: @collectd/trusted-contributors

Clean code
  src/thermal.c
Owners: @collectd/trusted-contributors

[collectd 6] write_prometheus: migration to v6.0
  .cirrus.yml
  Makefile.am
  configure.ac
  proto/prometheus.proto
  src/write_prometheus.c
Owners: @collectd/trusted-contributors

[collectd 6] new plugin info
  Makefile.am
  configure.ac
  src/collectd.conf.in
  src/collectd.conf.pod
  src/daemon/configfile.c
  src/daemon/configfile.h
  src/daemon/metric.c
  src/daemon/metric.h
  src/info.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

ubi: perpartion for percentage evaluation of the bad blocks
  src/ubi.c
Owners: @collectd/trusted-contributors

ubi: add percent evaluation for the bad blocks
  src/ubi.c
Owners: @collectd/trusted-contributors

autoformatting src/interface.c
  src/interface.c
Owners: @collectd/core-maintainers

adjust spec
  contrib/sailfish/collectd.conf
  contrib/sailfish/collectd.spec
Owners: @collectd/trusted-contributors

fix compilation errors with new common.h location
  src/cpufreq.c
  src/cpuidle.c
  src/radio.c
  src/statefs_battery.c
  src/statefs_bluetooth.c
  src/statefs_cellular.c
  src/statefs_internet.c
  src/suspend.c
Owners: @collectd/trusted-contributors

add back keepalive daemon implementation
  src/daemon/collectd.c
Owners: @collectd/core-maintainers

drop statefs requirement in service
  contrib/sailfish/collectd.service
Owners: @collectd/trusted-contributors
