Repository collectd/collectd, changes with the owners that CODEOWNERS names for each.
All owners: @collectd/trusted-contributors, @collectd/intel, @collectd/core-maintainers

CODEOWNERS:

# Code ownership information.
# See
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for details.

# Order is important; the *last* matching pattern takes precedence.

# Default
#
# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, @collectd/trusted-contributors will be
# requested for review when someone opens a pull request.
*       @collectd/trusted-contributors

# Per-plugin owners
#
# These plugins are owned by subject matter experts and require their review.
/src/intel_pmu.c	@collectd/intel
/src/intel_rdt.c	@collectd/intel
/src/ipmi.c		@collectd/intel
/src/mcelog.c		@collectd/intel
/src/virt.c		@collectd/intel
# TODO(#2926): Add the following owners:
#/src/redfish.c		@collectd/intel

# Core
#
# The daemon and some plugins with a huge "blast radius" are considered "core"
# to the collectd project and require review form a "core owner".
/CODEOWNERS		@collectd/core-maintainers
/src/daemon/		@collectd/core-maintainers
/src/liboconfig/	@collectd/core-maintainers
/src/cpu.c		@collectd/core-maintainers
/src/df.c		@collectd/core-maintainers
/src/disk.c		@collectd/core-maintainers
/src/exec.c		@collectd/core-maintainers
/src/interface.c	@collectd/core-maintainers
/src/memory.c		@collectd/core-maintainers
/src/network.*		@collectd/core-maintainers
/src/utils/avltree/	@collectd/core-maintainers
/src/utils/common/	@collectd/core-maintainers
/src/utils_fbhash.*	@collectd/core-maintainers
/src/utils/heap/	@collectd/core-maintainers
/src/utils/ignorelist/	@collectd/core-maintainers
/src/utils/metadata/	@collectd/core-maintainers
/src/utils/mount/	@collectd/core-maintainers

Switch more Debian stretch to bullseye
  .cirrus.yml
Owners: @collectd/trusted-contributors

intel_pmu 2.0 - updates in collectd.conf.pod
  src/collectd.conf.in
  src/collectd.conf.pod
  src/intel_pmu.c
Owners: @collectd/trusted-contributors, @collectd/intel

intel_pmu 2.0 - Provide option to choose all events from EventList
  src/intel_pmu.c
Owners: @collectd/intel

intel_pmu 2.0 - remove type from type instance
  src/collectd.conf.pod
  src/intel_pmu.c
  src/intel_pmu_test.c
Owners: @collectd/trusted-contributors, @collectd/intel

intel_pmu 2.0 - change parameter name to AggregateUncorePMUs
  src/collectd.conf.in
  src/collectd.conf.pod
  src/intel_pmu.c
Owners: @collectd/trusted-contributors, @collectd/intel

intel_pmu 2.0 - address review comments
  src/collectd.conf.in
  src/collectd.conf.pod
  src/intel_pmu_test.c
Owners: @collectd/trusted-contributors

intel_pmu 2.0 - bugfix & more verbose warning messages
  src/intel_pmu.c
Owners: @collectd/intel

intel_pmu 2.0 - unit tests
  Makefile.am
  src/intel_pmu_test.c
Owners: @collectd/trusted-contributors

intel_pmu 2.0 - memory leak fixed for unit tests
  src/intel_pmu_test.c
Owners: @collectd/trusted-contributors

intel_pmu 2.0 - add name of pmu to plugin instance
  src/intel_pmu.c
Owners: @collectd/intel

intel_pmu 2.0 - unit tests
  src/intel_pmu_test.c
Owners: @collectd/trusted-contributors

intel_pmu 2.0 - apply formatting on intel_pmu unit tests.
  src/intel_pmu_test.c
Owners: @collectd/trusted-contributors

intel_pmu 2.0 - updated version of plugin
  src/collectd.conf.in
  src/intel_pmu.c
  src/types.db
Owners: @collectd/trusted-contributors, @collectd/intel

intel_pmu 2.0 - Provide more data with metric
  src/intel_pmu.c
  src/types.db
Owners: @collectd/intel, @collectd/trusted-contributors

intel_pmu 2.0 - fix format
  src/intel_pmu_test.c
Owners: @collectd/trusted-contributors

intel_pmu 2.0 - update collectd.conf.pod
  src/collectd.conf.pod
  src/types.db
Owners: @collectd/trusted-contributors

bug#3924
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

External Ids in data on user request
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

Revert "bug#3924"
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

revert changes
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

bug#3924 fix
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

externalIds data in Buffer
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

formated the code
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

New input plugin for RAS (Reliability, Availability and Serviceability)
  src/ras.c
  src/ras_test.c
Owners: @collectd/trusted-contributors

New input plugin for RAS (Reliability, Availability and Serviceability)
  Makefile.am
  README
  configure.ac
  src/collectd.conf.in
  src/collectd.conf.pod
  src/ras.c
  src/ras_test.c
  src/types.db
Owners: @collectd/trusted-contributors

ethstat
  Makefile.am
  src/collectd.conf.in
  src/collectd.conf.pod
  src/ethstat.c
  src/ethstat_test.c
Owners: @collectd/trusted-contributors

Fix #3051: Convert Coding Style from wiki to markdown
  docs/coding_style.md
Owners: @collectd/trusted-contributors

Fix #3051: Convert Coding Style from wiki to markdown
  docs/coding_style.md
Owners: @collectd/trusted-contributors

removing interfece del changes
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

code formatting
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

External Ids in data on user request
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

format
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

Fixed parsing output of recent drbd version, and for sync-ing states
  src/drbd.c
Owners: @collectd/trusted-contributors

Expanded USM and TSM descriptions.
  src/collectd-snmp.pod
Owners: @collectd/trusted-contributors

ChangeLog: snmp plugin: Add support for SHA224, SHA256, SHA384 and SHA512.
  src/snmp.c
Owners: @collectd/trusted-contributors

ChangeLog: snmp plugin: Added SNMPv3 TSM support.
  src/collectd-snmp.pod
  src/snmp.c
Owners: @collectd/trusted-contributors

ovs_stats ex ids
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

format
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

Do not account reclaimable slab as used
  src/memory.c
Owners: @collectd/core-maintainers

Set the buffer size to the new maximum length for a digest.
  src/snmp.c
Owners: @collectd/trusted-contributors
