Repository collectd/collectd, changes with the owners that CODEOWNERS names for each.
All owners: @collectd/trusted-contributors, @collectd/intel, @collectd/core-maintainers

CODEOWNERS:

# Code ownership information.
# See
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for details.

# Order is important; the *last* matching pattern takes precedence.

# Default
#
# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, @collectd/trusted-contributors will be
# requested for review when someone opens a pull request.
*       @collectd/trusted-contributors

# Per-plugin owners
#
# These plugins are owned by subject matter experts and require their review.
/src/intel_pmu.c	@collectd/intel
/src/intel_rdt.c	@collectd/intel
/src/ipmi.c		@collectd/intel
/src/mcelog.c		@collectd/intel
/src/virt.c		@collectd/intel
# TODO(#2926): Add the following owners:
#/src/redfish.c		@collectd/intel

# Core
#
# The daemon and some plugins with a huge "blast radius" are considered "core"
# to the collectd project and require review form a "core owner".
/CODEOWNERS		@collectd/core-maintainers
/src/daemon/		@collectd/core-maintainers
/src/liboconfig/	@collectd/core-maintainers
/src/cpu.c		@collectd/core-maintainers
/src/df.c		@collectd/core-maintainers
/src/disk.c		@collectd/core-maintainers
/src/exec.c		@collectd/core-maintainers
/src/interface.c	@collectd/core-maintainers
/src/memory.c		@collectd/core-maintainers
/src/network.*		@collectd/core-maintainers
/src/utils/avltree/	@collectd/core-maintainers
/src/utils/common/	@collectd/core-maintainers
/src/utils_fbhash.*	@collectd/core-maintainers
/src/utils/heap/	@collectd/core-maintainers
/src/utils/ignorelist/	@collectd/core-maintainers
/src/utils/metadata/	@collectd/core-maintainers
/src/utils/mount/	@collectd/core-maintainers

Add ChangeLog entry.
  ChangeLog
Owners: @collectd/trusted-contributors

Revert changelog.
  ChangeLog
Owners: @collectd/trusted-contributors

snmp plugin: Add support for SHA224, SHA256, SHA384 and SHA512.
  src/snmp.c
Owners: @collectd/trusted-contributors

exec plugin: remove check against running scripts as root.
  src/collectd-exec.pod
  src/exec.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

diskstats plugin: security checks hardening
  src/diskstats.c
  src/diskstats_test.c
Owners: @collectd/trusted-contributors

[collectd 6] load: migration to v6.0
  src/load.c
Owners: @collectd/trusted-contributors

[collectd 6] uptime: migration to v6.0
  src/uptime.c
Owners: @collectd/trusted-contributors

[collectd 6] users: migration to v6.0
  src/users.c
Owners: @collectd/trusted-contributors

[collectd 6] disk: migration to v6.0
  src/disk.c
Owners: @collectd/core-maintainers

[collectd 6] fhcount: migration to v6.0
  src/fhcount.c
Owners: @collectd/trusted-contributors

[collectd 6] contextswitch: migration to v6.0
  src/contextswitch.c
Owners: @collectd/trusted-contributors

[collectd 6] entropy: migration to v6.0
  src/entropy.c
Owners: @collectd/trusted-contributors

[collectd 6] conntrack: migration to v6.0
  src/conntrack.c
Owners: @collectd/trusted-contributors

[collectd 6] serial: migration to v6.0
  src/serial.c
Owners: @collectd/trusted-contributors

[collectd 6] tcpconns: migration to v6.0
  src/tcpconns.c
Owners: @collectd/trusted-contributors

Fix format
  src/tcpconns.c
Owners: @collectd/trusted-contributors

[collectd 6] cpusleep: migration to v6.0
  src/cpusleep.c
Owners: @collectd/trusted-contributors

[collectd 6] processes: migration to v6.0
  src/processes.c
Owners: @collectd/trusted-contributors

[collectd 6] numa: migration to v6.0
  src/numa.c
Owners: @collectd/trusted-contributors

[collectd 6] protocols: migration to v6.0
  src/protocols.c
Owners: @collectd/trusted-contributors

[collectd 6] ping: migration to v6.0
  src/ping.c
Owners: @collectd/trusted-contributors

[collectd 6] iptables: migration to v6.0
  src/iptables.c
Owners: @collectd/trusted-contributors

[collectd 6] md: migration to v6.0
  src/md.c
Owners: @collectd/trusted-contributors

Declare metric families as an array
  src/processes.c
Owners: @collectd/trusted-contributors

Declare metric families as an array
  src/numa.c
Owners: @collectd/trusted-contributors

[collectd 6] apache: migration to v6.0
  src/apache.c
Owners: @collectd/trusted-contributors

[collectd 6] nginx: migration to v6.0
  src/collectd.conf.pod
  src/nginx.c
Owners: @collectd/trusted-contributors

[collectd 6] ipc: migration to v6.0
  src/ipc.c
Owners: @collectd/trusted-contributors

[collectd 6] synproxy: migration to v6.0
  src/synproxy.c
Owners: @collectd/trusted-contributors

[collectd 6] chrony: migration to v6.0
  src/chrony.c
Owners: @collectd/trusted-contributors

Fix #3831 by adding commas to the infiniband types (ib_octets, ib_packets)
  src/types.db
Owners: @collectd/trusted-contributors

[collectd 6] buddyinfo: migration to v6.0
  src/buddyinfo.c
Owners: @collectd/trusted-contributors

[collectd 6] filecount: migration to v6.0
  src/collectd.conf.pod
  src/daemon/configfile.c
  src/daemon/configfile.h
  src/daemon/metric.c
  src/daemon/metric.h
  src/filecount.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

Convert family metric to an array
  src/md.c
Owners: @collectd/trusted-contributors

[collectd 6] dbi, postgresql oracle: migration to v6.0
  .cirrus.yml
  .travis.yml
  src/collectd.conf.pod
  src/daemon/configfile.c
  src/daemon/configfile.h
  src/daemon/metric.c
  src/daemon/metric.h
  src/dbi.c
  src/oracle.c
  src/postgresql.c
  src/postgresql_default.conf
  src/utils/db_query/db_query.c
  src/utils/db_query/db_query.h
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

Fix type_str initilizacion
  src/postgresql.c
Owners: @collectd/trusted-contributors

Fix asserts
  src/utils/db_query/db_query.c
Owners: @collectd/trusted-contributors

Enable postgresql in solaris ci
  solaris-ci.flags
Owners: @collectd/trusted-contributors

Remove printf
  src/utils/db_query/db_query.c
Owners: @collectd/trusted-contributors

Fix metrix prefix concatenation
  src/utils/db_query/db_query.c
Owners: @collectd/trusted-contributors
