Repository collectd/collectd, changes with the owners that CODEOWNERS names for each.
All owners: @collectd/trusted-contributors, @collectd/intel, @collectd/core-maintainers

Add TimePrecision configuration option.
  src/collectd.conf.in
  src/collectd.conf.pod
  src/write_influxdb_udp.c
Owners: @collectd/trusted-contributors

Feature-redfish: enabling libredfish logging on collectd debug mode
  src/redfish.c
Owners: @collectd/trusted-contributors

cgroups: supprt cgroups v2
  src/cgroups.c
  src/collectd.conf.pod
Owners: @collectd/trusted-contributors

cgroups: handle cgroups v2 cpu table
  src/cgroups.c
Owners: @collectd/trusted-contributors

cgroups: normalize cgroup v2 microseconds to nanos
  src/cgroups.c
Owners: @collectd/trusted-contributors

cgroups: add memory controller support
  src/cgroups.c
  src/collectd.conf.pod
Owners: @collectd/trusted-contributors

Implement support for multiple Server entries in write_influxdb_udp
  src/collectd.conf.pod
  src/write_influxdb_udp.c
Owners: @collectd/trusted-contributors

ubi: add percent evaluation for the bad blocks
  src/ubi.c
Owners: @collectd/trusted-contributors

ubi: perpartion for percentage evaluation of the bad blocks
  src/ubi.c
Owners: @collectd/trusted-contributors

Implement support for multiple Server entries in write_influxdb_udp
  src/collectd.conf.pod
  src/write_influxdb_udp.c
Owners: @collectd/trusted-contributors

[collectd 6] cpusleep: migration to v6.0
  src/cpusleep.c
Owners: @collectd/trusted-contributors

Create build.yml
  .github/workflows/build.yml
Owners: @collectd/trusted-contributors

Update build.yml
  .github/workflows/build.yml
Owners: @collectd/trusted-contributors

Create build.yml (#3911)
  .github/workflows/build.yml
Owners: @collectd/trusted-contributors

Changelog: Improve perfdata output for collectd-nagios
  src/collectd-nagios.c
Owners: @collectd/trusted-contributors

Add unit-testing for 'gpu_sysman' plugin
  src/gpu_sysman_test.c
Owners: @collectd/trusted-contributors

Add 'gpu_sysman' plugin for (Intel) GPU metrics
  src/gpu_sysman.c
  src/types.db
Owners: @collectd/trusted-contributors

Integrate 'gpu_sysman' plugin and its unit-testing to collectd build
  Makefile.am
  configure.ac
Owners: @collectd/trusted-contributors

Add 'gpu_sysman' plugin configuration and documentation
  README
  src/collectd.conf.in
  src/collectd.conf.pod
Owners: @collectd/trusted-contributors

[githubactions] Use collectd-ci container to run tests
  .github/workflows/build.yml
Owners: @collectd/trusted-contributors

add CounterGauge option in statsd
  src/collectd.conf.in
  src/collectd.conf.pod
  src/statsd.c
Owners: @collectd/trusted-contributors

mmc plugin: initial checkin
  AUTHORS
  Makefile.am
  README
  configure.ac
  src/collectd.conf.in
  src/mmc.c
  src/types.db
Owners: @collectd/trusted-contributors

mmc plugin: initial checkin (#3887)
  AUTHORS
  Makefile.am
  README
  configure.ac
  src/collectd.conf.in
  src/mmc.c
  src/types.db
Owners: @collectd/trusted-contributors

[githubactions] Add a job for experimental OSes
  .github/workflows/build.yml
Owners: @collectd/trusted-contributors

Allow NFS metrics to be limited to given procedures set.
  src/collectd.conf.in
  src/collectd.conf.pod
  src/nfs.c
Owners: @collectd/trusted-contributors

clang-format
  src/nfs.c
Owners: @collectd/trusted-contributors

clang-format
  src/dpdk_telemetry.c
  src/dpdkstat.c
  src/intel_pmu.c
  src/intel_rdt.c
  src/logparser.c
  src/lua.c
  src/mcelog.c
  src/nut.c
  src/openvpn.c
  src/pcie_errors.c
  src/redfish.c
Owners: @collectd/trusted-contributors, @collectd/intel

Fix stupid cutnpaste error
  src/mcelog.c
Owners: @collectd/intel

Report MemAvailable when present in meminfo
  src/memory.c
Owners: @collectd/core-maintainers

Report MemAvailable when present in meminfo (#3916)
  src/memory.c
Owners: @collectd/core-maintainers

add CounterGauge option in statsd (#3914)
  src/collectd.conf.in
  src/collectd.conf.pod
  src/statsd.c
Owners: @collectd/trusted-contributors

Fix #3831 by adding commas to the infiniband types (ib_octets, ib_packets) (#3832)
  src/types.db
Owners: @collectd/trusted-contributors

Fic smart_test.c for big endian. (#3799)
  src/smart_test.c
Owners: @collectd/trusted-contributors

Allocate warning/critical threshold strings dynamically
  src/collectd-nagios.c
Owners: @collectd/trusted-contributors

Feature/collectd nagios perfdata (#3879)
  src/collectd-nagios.c
Owners: @collectd/trusted-contributors

Feature-redfish: enabling libredfish logging on collectd debug mode (#3907)
  src/redfish.c
Owners: @collectd/trusted-contributors

[GHA] update actions for new distro containers in collectd/ci-docker
  .github/workflows/build.yml
Owners: @collectd/trusted-contributors

Mark ``make check`` as optional for now
  .github/workflows/build.yml
Owners: @collectd/trusted-contributors

Replace travis CI with GHA (#3913)
  .github/workflows/build.yml
Owners: @collectd/trusted-contributors

Switch to bullseye based testing
  .cirrus.yml
Owners: @collectd/trusted-contributors

CODEOWNERS:

# Code ownership information.
# See
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for details.

# Order is important; the *last* matching pattern takes precedence.

# Default
#
# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, @collectd/trusted-contributors will be
# requested for review when someone opens a pull request.
*       @collectd/trusted-contributors

# Per-plugin owners
#
# These plugins are owned by subject matter experts and require their review.
/src/intel_pmu.c	@collectd/intel
/src/intel_rdt.c	@collectd/intel
/src/ipmi.c		@collectd/intel
/src/mcelog.c		@collectd/intel
/src/virt.c		@collectd/intel
# TODO(#2926): Add the following owners:
#/src/redfish.c		@collectd/intel

# Core
#
# The daemon and some plugins with a huge "blast radius" are considered "core"
# to the collectd project and require review form a "core owner".
/CODEOWNERS		@collectd/core-maintainers
/src/daemon/		@collectd/core-maintainers
/src/liboconfig/	@collectd/core-maintainers
/src/cpu.c		@collectd/core-maintainers
/src/df.c		@collectd/core-maintainers
/src/disk.c		@collectd/core-maintainers
/src/exec.c		@collectd/core-maintainers
/src/interface.c	@collectd/core-maintainers
/src/memory.c		@collectd/core-maintainers
/src/network.*		@collectd/core-maintainers
/src/utils/avltree/	@collectd/core-maintainers
/src/utils/common/	@collectd/core-maintainers
/src/utils_fbhash.*	@collectd/core-maintainers
/src/utils/heap/	@collectd/core-maintainers
/src/utils/ignorelist/	@collectd/core-maintainers
/src/utils/metadata/	@collectd/core-maintainers
/src/utils/mount/	@collectd/core-maintainers
