Repository collectd/collectd, changes with the owners that CODEOWNERS names for each.
All owners: @collectd/trusted-contributors, @collectd/intel, @collectd/core-maintainers

Set the buffer size to the new maximum length for a digest.
  src/snmp.c
Owners: @collectd/trusted-contributors

ChangeLog: snmp plugin: Add support for SHA224, SHA256, SHA384 and SHA512.
  src/snmp.c
Owners: @collectd/trusted-contributors

bug#3924 fix
  src/ovs_stats.c
Owners: @collectd/trusted-contributors

ethstat
  Makefile.am
  src/collectd.conf.in
  src/collectd.conf.pod
  src/ethstat.c
  src/ethstat_test.c
Owners: @collectd/trusted-contributors

ChangeLog: Redfish plugin: complete rework and enhancement
  .gitignore
  src/collectd.conf.in
  src/collectd.conf.pod
  src/liboconfig/oconfig.c
  src/liboconfig/oconfig.h
  src/redfish.c
  src/redfish_test.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

Redfish plugin: complete rework and enhancement
  .gitignore
  src/collectd.conf.in
  src/collectd.conf.pod
  src/liboconfig/oconfig.c
  src/liboconfig/oconfig.h
  src/redfish.c
  src/redfish_test.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

Redfish plugin: complete rework and enhancement
  .gitignore
  Makefile.am
  src/collectd.conf.in
  src/collectd.conf.pod
  src/liboconfig/oconfig.c
  src/liboconfig/oconfig.h
  src/redfish.c
  src/redfish_test.c
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

Remove DES support in snmp plugin
  src/snmp.c
Owners: @collectd/trusted-contributors

Allo trusty to fail
  .cirrus.yml
Owners: @collectd/trusted-contributors

Remove DES support in snmp plugin
  src/snmp.c
Owners: @collectd/trusted-contributors

Allo trusty to fail
  .cirrus.yml
Owners: @collectd/trusted-contributors

virt: Add hugetlb_ metrics
  src/virt.c
Owners: @collectd/intel

intel_rdt: Added memory bandwidth total metric
  src/intel_rdt.c
Owners: @collectd/intel

intel_rdt: Added oprion to disable IPC monitoring
  src/collectd.conf.in
  src/collectd.conf.pod
  src/intel_rdt.c
Owners: @collectd/trusted-contributors, @collectd/intel

Do not account reclaimable slab as used
  src/memory.c
Owners: @collectd/core-maintainers

[ci][cirrus] Replace trusty with bionic/focal in debian_default_toolchain
  .cirrus.yml
Owners: @collectd/trusted-contributors

write_http: Make use of CURLOPT_POSTFIELDSIZE
  src/write_http.c
Owners: @collectd/trusted-contributors

write_http: Enable using unix socket in libcurl
  src/write_http.c
Owners: @collectd/trusted-contributors

write_http: Add influxdb format
  Makefile.am
  src/write_http.c
Owners: @collectd/trusted-contributors

meta_data: Introduce basic iterator interface
  src/utils/metadata/meta_data.c
  src/utils/metadata/meta_data.h
Owners: @collectd/core-maintainers

write_influxdb_udp: Split formatting functions to format_influxdb
  Makefile.am
  src/utils/format_influxdb/format_influxdb.c
  src/utils/format_influxdb/format_influxdb.h
  src/write_influxdb_udp.c
Owners: @collectd/trusted-contributors

format_influxdb: Support serializing meta_data
  src/utils/format_influxdb/format_influxdb.c
Owners: @collectd/trusted-contributors

[intel_rdt] Fix build for LIBPQOS < 2
  src/intel_rdt.c
Owners: @collectd/intel

[intel_rdt] Fix build for LIBPQOS < 2
  src/intel_rdt.c
Owners: @collectd/intel

Allow taskstats to run with different versions than one used during collectd compilation
  src/utils/taskstats/taskstats.c
Owners: @collectd/trusted-contributors

Fix coding style
  src/utils/taskstats/taskstats.c
Owners: @collectd/trusted-contributors

CODEOWNERS:

# Code ownership information.
# See
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for details.

# Order is important; the *last* matching pattern takes precedence.

# Default
#
# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, @collectd/trusted-contributors will be
# requested for review when someone opens a pull request.
*       @collectd/trusted-contributors

# Per-plugin owners
#
# These plugins are owned by subject matter experts and require their review.
/src/intel_pmu.c	@collectd/intel
/src/intel_rdt.c	@collectd/intel
/src/ipmi.c		@collectd/intel
/src/mcelog.c		@collectd/intel
/src/virt.c		@collectd/intel
# TODO(#2926): Add the following owners:
#/src/redfish.c		@collectd/intel

# Core
#
# The daemon and some plugins with a huge "blast radius" are considered "core"
# to the collectd project and require review form a "core owner".
/CODEOWNERS		@collectd/core-maintainers
/src/daemon/		@collectd/core-maintainers
/src/liboconfig/	@collectd/core-maintainers
/src/cpu.c		@collectd/core-maintainers
/src/df.c		@collectd/core-maintainers
/src/disk.c		@collectd/core-maintainers
/src/exec.c		@collectd/core-maintainers
/src/interface.c	@collectd/core-maintainers
/src/memory.c		@collectd/core-maintainers
/src/network.*		@collectd/core-maintainers
/src/utils/avltree/	@collectd/core-maintainers
/src/utils/common/	@collectd/core-maintainers
/src/utils_fbhash.*	@collectd/core-maintainers
/src/utils/heap/	@collectd/core-maintainers
/src/utils/ignorelist/	@collectd/core-maintainers
/src/utils/metadata/	@collectd/core-maintainers
/src/utils/mount/	@collectd/core-maintainers
