Repository collectd/collectd, changes with the owners that CODEOWNERS names for each.
All owners: @collectd/trusted-contributors, @collectd/intel, @collectd/core-maintainers

drop loading statefs plugins by default and adjust config
  contrib/sailfish/collectd.conf
  contrib/sailfish/collectd.service
Owners: @collectd/trusted-contributors

[battery] Add capacity and temprature readouts
  src/battery.c
Owners: @collectd/trusted-contributors

add ofono plugin
  src/python/ofono.py
Owners: @collectd/trusted-contributors

fix daemon error message
  src/daemon/collectd.c
Owners: @collectd/core-maintainers

[ofono] comment out debug messages
  src/python/ofono.py
Owners: @collectd/trusted-contributors

add connman
  src/python/connman.py
Owners: @collectd/trusted-contributors

include connman and ofono plugins
  contrib/sailfish/collectd.conf
  contrib/sailfish/collectd.spec
Owners: @collectd/trusted-contributors

fix connman plugin install
  contrib/sailfish/collectd.spec
Owners: @collectd/trusted-contributors

[ofono] use NetworkRegistration interface to get signal strength
  src/python/ofono.py
Owners: @collectd/trusted-contributors

[battery] keep the current sign as reported by kernel
  src/battery.c
Owners: @collectd/trusted-contributors

Re-trigger CI.
  src/snmp.c
Owners: @collectd/trusted-contributors

Trigger CI.
  src/snmp.c
Owners: @collectd/trusted-contributors

Format.
  src/snmp.c
Owners: @collectd/trusted-contributors

Format.
  src/snmp.c
Owners: @collectd/trusted-contributors

Drop el6 from testing
  .cirrus.yml
Owners: @collectd/trusted-contributors

move python plugins under contrib and specify as src in spec
  contrib/sailfish/collectd.spec
  contrib/sailfish/python/connman.py
  contrib/sailfish/python/ofono.py
Owners: @collectd/trusted-contributors

add generated parser files
  .gitignore
  contrib/sailfish/README.md
  src/liboconfig/parser.c
  src/liboconfig/parser.h
Owners: @collectd/trusted-contributors, @collectd/core-maintainers

move python modules to comply with OBS
  contrib/sailfish/collectd.spec
  contrib/sailfish/connman.py
  contrib/sailfish/ofono.py
Owners: @collectd/trusted-contributors

Fix #3472 - Correct LD flags for various libs
  configure.ac
Owners: @collectd/trusted-contributors

Remove duplicate switch case.
  src/daemon/collectd.c
Owners: @collectd/core-maintainers

format
  src/curl_jolokia.c
Owners: @collectd/trusted-contributors

snmp_agent plugin: Fix strncat() truncation warning.
  src/snmp_agent.c
Owners: @collectd/trusted-contributors

network plugin: Simplify initialization of sockent_t.
  src/network_test.c
Owners: @collectd/trusted-contributors

Fix memory leak in curl plugin
  src/curl.c
Owners: @collectd/trusted-contributors

future yjail
  src/curl_jolokia.c
Owners: @collectd/trusted-contributors

add jolokia documentation & configuration
  src/collectd.conf.in
  src/collectd.conf.pod
Owners: @collectd/trusted-contributors

Rewrite problematic language where possible
  docs/BUILD.dpdkstat.md
  src/collectd-snmp.pod
  src/utils/format_stackdriver/format_stackdriver.c
Owners: @collectd/trusted-contributors

fix include
  src/curl_jolokia.c
Owners: @collectd/trusted-contributors

Update changelog and version number for release 5.12.
  ChangeLog
  version-gen.sh
Owners: @collectd/trusted-contributors

ceph plugin: Initialize file descriptor to -1.
  src/ceph.c
Owners: @collectd/trusted-contributors

implement review sugestions.
  src/collectd.conf.pod
  src/curl_jolokia.c
Owners: @collectd/trusted-contributors

add helper scripts
  contrib/curl_jolokia/curl_jolokia.conf
  contrib/curl_jolokia/jolokia_2_collectdcfg.py
Owners: @collectd/trusted-contributors

Empty initializer when gcrypt is absent produces compile error with Sun Studio
  src/network_test.c
Owners: @collectd/trusted-contributors

Makefile.am: Link test_plugin_intel_rdt with libpqos.
  Makefile.am
Owners: @collectd/trusted-contributors

src/netlink.c: remove REG_NOERROR
  src/netlink.c
Owners: @collectd/trusted-contributors

* Build influxdb points outside de mutex. * listen_loop cleanup.
  src/write_influxdb_udp.c
Owners: @collectd/trusted-contributors

future yjail
  src/curl_jolokia.c
Owners: @collectd/trusted-contributors

.cirrus.yml: Remove Debian Jessie.
  .cirrus.yml
Owners: @collectd/trusted-contributors

Do not change counter/gauge names for now
  src/mysql.c
Owners: @collectd/trusted-contributors

implement sourcecode review
  src/curl_jolokia.c
Owners: @collectd/trusted-contributors

CODEOWNERS:

# Code ownership information.
# See
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# for details.

# Order is important; the *last* matching pattern takes precedence.

# Default
#
# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, @collectd/trusted-contributors will be
# requested for review when someone opens a pull request.
*       @collectd/trusted-contributors

# Per-plugin owners
#
# These plugins are owned by subject matter experts and require their review.
/src/intel_pmu.c	@collectd/intel
/src/intel_rdt.c	@collectd/intel
/src/ipmi.c		@collectd/intel
/src/mcelog.c		@collectd/intel
/src/virt.c		@collectd/intel
# TODO(#2926): Add the following owners:
#/src/redfish.c		@collectd/intel

# Core
#
# The daemon and some plugins with a huge "blast radius" are considered "core"
# to the collectd project and require review form a "core owner".
/CODEOWNERS		@collectd/core-maintainers
/src/daemon/		@collectd/core-maintainers
/src/liboconfig/	@collectd/core-maintainers
/src/cpu.c		@collectd/core-maintainers
/src/df.c		@collectd/core-maintainers
/src/disk.c		@collectd/core-maintainers
/src/exec.c		@collectd/core-maintainers
/src/interface.c	@collectd/core-maintainers
/src/memory.c		@collectd/core-maintainers
/src/network.*		@collectd/core-maintainers
/src/utils/avltree/	@collectd/core-maintainers
/src/utils/common/	@collectd/core-maintainers
/src/utils_fbhash.*	@collectd/core-maintainers
/src/utils/heap/	@collectd/core-maintainers
/src/utils/ignorelist/	@collectd/core-maintainers
/src/utils/metadata/	@collectd/core-maintainers
/src/utils/mount/	@collectd/core-maintainers
